name: MacOSX Test

env:
  tag: 'v2.56.5'

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ 'macos-15-intel', "macos-latest" ]
        python-version: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]
  
    runs-on: ${{ matrix.os }}

    name: python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      
      # install pip packages
      - name: Install pyrealsense2-macosx
        run: pip install pyrealsense2-macosx

      # run test
      - name: Test pyrealsense2-macosx
        run: |
          cd $GITHUB_WORKSPACE
          python test/count-devices.py
